div {
    background-color: rgb(204, 201, 201);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top:100px;
    font-size: 20px;
}

textarea {
    width: 98%;
    height: 300px;
    margin: 0 auto;
    font-size: 18px;
}

